name: run
on:
  push:
    branches: ["main", "release/**"]
  pull_request:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: make
        run: make
      - name: print-features
        run: ./print-features
